@media screen and (min-width:721px){
  .formContainer{
      width: 50%;
      height: auto;
      /* box-shadow: 1px 1px 5px rgba(253, 252, 252, 0.5); */
      /*padding: 5px;*/
      /* padding: 4%; */
      border-radius: 0%;
      
  }
}

@media screen and (max-width:720px){
  .formContainer{
      width: 90%;
  }
}

.table-container {
  height: calc(100vh - 50px);
  overflow: auto;
  border-radius: 0px;
}

.cancel{
  background-color: beige;
}

.dialog{
  background-color:aqua;
  
}