body {
      
    font-family:'Times New Roman', serif;
      background-image: url('../../assets/img/home.jpg');
      background-size: cover;
      background-position: center;
    height: 100vh;
    text-align: center;
}
.container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 5px;
    
  }
  .custom-button {
    background-color: #ff0000; /* Red color */
    color: #ffffff; /* White text color */
  }